include ../includes/mixins

header
  .container
    .header__head
      .logo
        a(href="/")
          +renderImg('logo-icon.svg')#logo-icon
          +renderImg('logo-txt.svg')#logo-txt

      .header__right
        .language__links
          a(href="#").language__txt.active Русский
          a(href="#").language__txt Кыргызча

        //- .language__tgl
        //-   input(type="radio" name="lang" hidden value="ru" checked)#lang__ru.lang__ru
        //-   label(for="lang__ru").language__txt
        //-     span Русский

        //-   input(type="radio" name="lang" hidden value="kg")#lang__kg.lang__kg
        //-   label(for="lang__kg").language__txt
        //-     span Кыргызча

        //-   .active-lang__bg

        .user-profile__links
          #profile-tgl.user-profile__tgl
            .user-profile__icon
              +renderSvg('person-white', '0 0 20 18')

            if authorized
              .user-profile__txt
                span Евгений
                +renderSvg('arrow-down', '0 0 10 7')
            else
              .user-profile__txt
                span Войти

          if authorized
            #profile-dropdown.user-profile__dropdown.authorized
              ul
                li
                  a(href="/profile-page.html") Показать профиль
                li
                  a(href="/profile-edit.html") Настройки
                li
                  a(href="/") Выйти
          else
            #profile-dropdown.user-profile__dropdown
              .dropdown-wrap
                #dropdown-close.dropdown-close
                  +renderSvg('close', '0 0 12 12')

                #pass-restore.pass-restore
                  #to-auth.link-to
                    +renderSvg('arrow-left', '0 0 7 10')
                    span Вход

                  .restore-title Восстановление
                  .restore-description Введите номер, через который вы регистрировались и мы отправим вам новый пароль

                  form
                    .form__item
                      input(type="text" placeholder="Номер телефона").restore__phone.phone-field.required-item
                    .form__item
                      button(type="submit" disabled) Отправить пароль 

                #auth-reg.auth-reg
                  .tab__header
                    .tab__tgl.active(tab="auth")
                      span Вход
                    .tab__tgl(tab="reg")
                      span Регистрация

                  .tab__body
                    #tab-auth.tab.active
                      form
                        .form__item
                          input(type="text" placeholder="Ваш номер телефона").auth__phone.phone-field.required-item
                        .form__item
                          input(type="password" placeholder="Пароль")#auth-pass.auth__password.required-item
                          #password-show.password-show(show-pass="auth-pass")
                            +renderSvg('eye', '0 0 17 11')
                        .form__item
                          .remember-me.checkbox-item
                            input(type="checkbox" hidden)#remember-me
                            label(for="remember-me") Запомнить меня
                          #pass-restore-tgl.pass-restore-tgl
                            a(href="#") Забыли пароль?
                        .form__item
                          button(type="submit" disabled) Войти 
                        
                    #tab-reg.tab
                      form
                        .form__item
                          input(type="text" placeholder="Имя").reg__firstname.required-item
                        .form__item
                          input(type="text" placeholder="Фамилия").reg__lastname.required-item
                        .form__item
                          select.choice-select.required-item
                            option(value="0") Бишкек
                            option(value="1") Баткен
                            option(value="2") Ыссык-Кол
                            option(value="3") Талас
                            option(value="4") Ош
                        .form__item
                          input(type="text" placeholder="Ваш номер телефона").reg__phone.phone-field.required-item
                        .form__item
                          .checkbox-item
                            input(type="checkbox" hidden)#sms-notif
                            label(for="sms-notif") Оповещать об изменении цен по SMS
                        .form__item
                          .checkbox-item
                            input(type="checkbox" hidden)#hide-name
                            label(for="hide-name") Скрыть мое имя и фамилию на торгах
                        .form__item
                          .checkbox-item
                            input(type="checkbox" hidden)#agreemant.required-item
                            label(for="agreemant") Я согласен с 
                              a(href="/terms.html") Правилами проведения аукциона
                        .form__item
                          button(type="submit" disabled) Зарегистрироваться

    if fullHeader
      .header__body
        .auction__title
          // Список анимированных текстов
          input(type="hidden" value="Красивых,Модных,Дерзких")#animated-title-txt
          span Аукцион
          h2.animated-title
          span номеров

        .countdown-timer
          // Вариаты текстов в разных числах
          input(type="hidden" value="день,дня,дней")#timer_days_title
          input(type="hidden" value="час,часа,часов")#timer_hours_title
          input(type="hidden" value="минута,минуты,минут")#timer_minutes_title
          input(type="hidden" value="секунда,секунды,секунд")#timer_seconds_title

          .timer__text до завершения аукциона:
          // Оставшиеся время до завершения для таймера
          #auction-countdown.auction-countdown(year="2019" month="6" day="28" hours="15" minutes="0" seconds="")