doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="keywords" content="keywords")
        meta(name="description" content="description")

        title= `Beeline » ${htmlWebpackPlugin.options.title}`
        
        link(rel="icon" type="image/png" sizes="32x32" href="../../img/favicon.png")
        link(rel="icon" type="image/png" sizes="96x96" href="../../img/favicon.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../../img/favicon.png")

        link(rel="stylesheet" href="css/style.css")

    body
        .wrapper
            block variables
            
            include header

            block wrapper

            include footer

            #notification-wrap.notification__wrap
                .notification__txt Test
        
        script(src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js")
        script(src="js/common.js")
        block scripts
        script.
            // Test
            const lotsList = document.getElementsByClassName("lot-item");
            for (let i = 0; i < lotsList.length; i++) {
                const submitBtn = lotsList[i]
                    .getElementsByTagName("FORM")[0]
                    .getElementsByTagName("BUTTON")[0];

                submitBtn.onclick = function(e) {
                    e.preventDefault();
                    document.notification("Вы повысили ставку до 3100 с"); // Функция уводемления, принимает текст уводемления. Доступно из всех страниц
                };
            }