@import ../includes/variables
@import ../includes/extensions

.lot-list__section
  border-bottom: 1px solid $lightGrey
  margin-bottom: 30px
  padding-bottom: 30px

  &:last-child
    border: none

.sim-img
  .mobile
    display: none

  img
    max-width: 100%

.lot-item
  margin-bottom: 20px
  border: 1px solid $lightGrey
  border-radius: 10px
  background-color: $white

  &:last-child
    margin-bottom: 0

  &.opened
    border: none
    box-shadow: 0 5px 15px 3px rgba($black, .075)

    .lot__header
      border-bottom: 1px solid $lightGrey

    .lot__body
      display: block

.lot-info
  padding: 15px 20px
  @extend %justify-between
  align-items: flex-end
  border-left: 1px solid $lightGrey
  border-right: 1px solid $lightGrey

.lot-info__item
  width: calc((100% - 40px) / 3)
  overflow-x: hidden

  &:nth-child(2)
    margin: 0 10px

  .item__label
    font-size: .875rem
    color: $darkGrey

    svg
      height: 10px
      margin-right: 5px

  .item__value
    font-size: 1.125rem
    font-weight: 700

    &.green
      color: $green

.header__side
  @extend %flex-centered

.lot-number
  padding: 20px
  font-size: 1.5rem
  font-weight: 700

.participate-lot
  padding: 20px

  button
    border: 2px solid $yellow
    border-radius: 6px
    background-color: $white
    padding: 10px 24px
    width: 100%
    line-height: 1
    font-size: .875rem
    outline: none
    @extend %transition025

.lot__body
  padding: 20px
  display: none

.lot__user-info
  @extend %vertical-align
  justify-content: space-between
  flex-wrap: wrap

  .form__item
    max-width: calc((100% - 20px) / 3)
    width: 100%

    &:last-child
      margin-bottom: 20px !important

    &.checkbox-handler
      max-width: calc(((100% - 10px) / 3) * 2)
      @extend %vertical-align
      justify-content: space-between

    .checkbox-item
      max-width: calc((100% - 20px) / 3)

.lot__footer
  @extend %vertical-align

.price-control
  background-color: $lightGrey
  height: 60px
  border-radius: 10px
  padding: 4px
  margin-right: 12px
  @extend %vertical-align

.ctrl-btn
  height: 100%
  @extend %flex-centered
  background-color: $white
  border-radius: 8px
  padding: 15px 20px
  line-height: 1
  font-size: 1.125rem
  cursor: pointer
  box-shadow: 0 1px 0 1px rgba($darkGrey, .25)
  user-select: none

  &.disabled
    color: $grey

  &:active:not(.disabled)
    box-shadow: 0 0 0 0 rgba($darkGrey, .25)

  span
    line-height: 1

.price-handler
  font-weight: 700
  font-size: 1.25rem
  @extend %vertical-align
  justify-content: center
  margin: 0 4px
  padding: 0 15px
  flex: 1
  min-width: 110px

.price-currency
  margin-left: 2px

  svg
    width: 10px
    height: 14px

.suggest-btn
  max-width: 220px
  width: 100%

.rate-max__txt
  flex: 1
  margin-left: 30px
  color: $darkGrey
  font-size: .875rem

@media screen and (max-width: 991px)
  .lot__header
    .header__side
      justify-content: flex-start

    .lot-info
      border-left: none
      border-right: none
      justify-content: space-between

  .lot__user-info
    .form__item
      max-width: 100%

      &.checkbox-handler
        max-width: 100%
        flex-wrap: wrap

        .checkbox-item
          max-width: 100%
          margin: 10px 0

  .lot__footer
    flex-wrap: wrap

  .price-control
    width: 100%
    margin: 0 0 16px

  .suggest-btn
    max-width: 100%

  .rate-max__txt
    margin: 16px 0
    text-align: center

@media screen and (max-width: 500px)
  .sim-img
    img
      width: 100%
      display: none

      &.mobile
        display: block
        margin-bottom: 15px

  .lot-info__item
    &:nth-child(2)
      margin: 0 20px

    .item__label
      font-size: .75rem

    .item__value
      font-size: 1rem

@media screen and (max-width: 360px)
  .header__side
    padding: 15px

  .lot-number
    font-size: 1.25rem

  .participate-lot
    button
      font-size: .75rem
      padding: 10px 15px

  .lot-info
    padding: 15px

  .lot-info__item
    max-width: calc((100% - 10px) / 3)

    &:nth-child(2)
      margin: 0 5px

    .item__label
      font-size: .675rem

  .ctrl-btn
    padding: 15px
    font-size: 1rem

  .price-handler
    padding: 0 5px
