extends ../includes/layout
include ../includes/mixins

block variables
  - var authorized = true

block wrapper
  .page-content
    .container
      .row
        .col-lg-3.col-md-4
          .link-to
            a(href="/profile-page.html")
              +renderSvg('arrow-left', '0 0 7 10')
              span Профиль
          h1.page-title Настройки

        .col-lg-9.col-md-8
          form.profile-edit-form
            .edit-form__header
              .form__item
                input(type="text" placeholder="Имя").lot-user__firstname.required-item
              .form__item
                input(type="text" placeholder="Фамилия").lot-user__lastname.required-item
              .form__item
                select.choice-select.required-item
                  option(value="0") Бишкек
                  option(value="1") Баткен
                  option(value="2") Ыссык-Кол
                  option(value="3") Талас
                  option(value="4") Ош
            .form__item
              .checkbox-item
                input(type="checkbox" id="sms-notif-lot" hidden)
                label(for="sms-notif-lot") Оповещать об изменении цен по SMS
            .form__item
              .checkbox-item
                input(type="checkbox" id="hide-name-lot" hidden)
                label(for="hide-name-lot") Скрыть мое имя и фамилию на торгах

            .form__item
              .suggest-btn
                button(type="submit" disabled) Сохранить