extends ../includes/layout
include ../includes/mixins

block variables
  - var authorized = true

block wrapper
  .page-content
    .profile__user-info
      .container
        .row
          .col-lg-6.offset-lg-3
            .user-info__middle
              .user__name Евгений Брин
              .user__city Бишкек
              .user__phone +996 772174458

          .col-lg-3
            .link-to__edit-page
              a(href="/profile-edit.html")
                +renderSvg('gear', '0 0 24 24')
                span Изменить настройки
      
    .container
      .row
        .col-lg-3.col-md-4
          .user-lots-title
            .title-icon
              +renderSvg('person-silver', '0 0 44 40')
            .title-text
              span Торги
              p Я участвую

        .col-lg-9.col-md-8
          .auction-lots
            - var n = 0
              while n < 3
                -n++
                .lot-item
                  .lot__header
                    .row.no-gutters.align-items-center
                      .col-lg-3.col-6.order-1
                        .lot-number.header__side
                          span 772 01 02 03

                      .col-lg-6.col-md-12.order-lg-2.order-3
                        .lot-info
                          .current-rate.lot-info__item
                            .item__label Текущая ставка
                            .item__value 2700 с
                          .amount-rate.lot-info__item
                            .item__label Кол. ставок
                            .item__value 2
                          .leader-rate.lot-info__item
                            .item__label
                              +renderSvg("crown", "0 0 17 12")
                              | Лидер
                            .item__value.green Вы

                      .col-lg-3.col-6.order-lg-3.order-2
                        .participate-lot.header__side
                          button.participate-btn(opened="Свернуть" closed="Поднять ставку") Поднять ставку

                  .lot__body
                    form.lot-form
                      if !authorized
                        .lot__user-info
                          .form__item
                            input(type="text" placeholder="Имя").lot-user__firstname.required-item
                          .form__item
                            input(type="text" placeholder="Фамилия").lot-user__lastname.required-item
                          .form__item
                            select.choice-select.required-item
                              option(value="0") Бишкек
                              option(value="1") Баткен
                              option(value="2") Ыссык-Кол
                              option(value="3") Талас
                              option(value="4") Ош
                          .form__item
                            input(type="text" placeholder="Ваш номер телефона").lot-user__phone.required-item.phone-field

                          .form__item.checkbox-handler
                            .checkbox-item
                              input(type="checkbox" id="sms-notif-lot-" + n hidden)
                              label(for="sms-notif-lot-" + n) Оповещать об изменении цен по SMS
                            .checkbox-item
                              input(type="checkbox" id="hide-name-lot-" + n hidden)
                              label(for="hide-name-lot-" + n) Скрыть мое имя и фамилию на торгах
                            .checkbox-item
                              input(type="checkbox" id="agreemant-lot-" + n hidden).required-item
                              label(for="agreemant-lot-" + n) Я согласен с 
                                a(href="/terms.html") Правилами проведения аукциона

                      .lot__footer
                        .price-control
                          .reduce-100.ctrl-btn.disabled
                            span -100
                          .price-handler
                            input(type="hidden" value="2800").lot-price-input
                            // Минимальная ставка в атрибуте min
                            .price-num(min="2800") 2800
                            .price-currency
                              +renderSvg("som-currency", "0 0 184.91 310.21")
                          .increase-100.ctrl-btn
                            span +100

                        .suggest-btn
                          if !authorized
                            button(type="submit" disabled) Предложить
                          else
                            button(type="submit") Предложить

                        .rate-max__txt
                          span Минимальная ставка: 2800 с

      .no-lots-available
        +renderSvg('sim-trees', '0 0 200 120')
        .not-available__txt Аукционы, в которых вы участвуете будут отображаться здесь
