.error-item
  border-color: $red

.form__item
  margin-bottom: 20px
  position: relative

  &:last-child
    margin-bottom: 0 !important

input[type=text]:not(.choices__input), input[type=password]
  border: 1px solid $lightGrey
  border-radius: 10px
  padding: 20px
  font-size: 1.125rem
  line-height: 1
  color: $dark
  height: 60px
  width: 100%
  outline: none

  &:focus
    border-color: $yellow
    border-width: 2px

  &::placeholder
    color: $grey

button[type=submit]
  background-color: $yellow
  border: 1px solid $yellow
  border-radius: 10px
  color: $dark
  padding: 20px
  font-size: 1.125rem
  font-weight: 500
  line-height: 1
  text-align: center
  height: 60px
  width: 100%
  outline: none
  position: relative
  @extend %transition025
  
  &:after
    content: ''
    display: block
    position: absolute
    left: 50%
    bottom: 0
    transform: translateX(-50%)
    height: 0
    width: calc(100% - 100px)
    box-shadow: 0 -5px 10px 10px rgba($yellow, .75)
    @extend %transition025

  &:hover
    &:after
      bottom: -2px
      width: calc(100% - 60px)

  &:disabled
    opacity: .5
    
    &:after
      display: none

.checkbox-item
  input[type=checkbox]:checked + label
    &:before
      background-image: url(../img/checkmark.svg)
      background-size: contain
      border: none

  label
    margin: 0
    font-size: .75rem
    line-height: 1
    cursor: pointer
    position: relative
    padding-left: 28px
    user-select: none

    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      width: 18px
      height: 18px
      border: 2px solid $grey
      border-radius: 3px

    a
      color: $dark
      text-decoration: underline

      &:hover
        color: $blue

.choices
  width: 100%

.choices[data-type*=select-one]:after
  content: ""
  height: 6px
  width: 10px
  background-image: url(../img/arrow-down.svg)
  border: none !important
  position: absolute
  right: 15px !important
  top: 50%
  transform: translateY(-50%)
  margin: 0 !important
  pointer-events: none

.choices__inner
  border-color: $lightGrey
  border-radius: 10px
  padding: 20px 35px 20px 20px !important
  height: 60px
  @extend %vertical-align

  &, *
    outline: none

.choices__list
  padding: 0

.choices__item--selectable
  color: $dark
  font-size: 1rem

  &.is-highlighted
    &:after
      content: 'Нажмите для выбора'

.choices__list--dropdown
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px

.is-open 
  .choices__inner
    border-radius: 10px 10px 0 0
    border-width: 2px
    border-color: $yellow
    border-bottom: 1px solid $lightGrey

  .choices__list--dropdown
    border-width: 2px
    border-color: $yellow
    border-top: 1px solid $lightGrey

.link-to
  @extend %vertical-align
  font-size: 1rem
  line-height: 1
  color: $darkGrey
  margin-bottom: 20px
  cursor: pointer

  a
    text-decoration: none
    color: $darkGrey
    @extend %vertical-align

  svg
    height: 10px
    margin-right: 10px

.container
  padding-top: 0
  padding-bottom: 0

.wrapper
  display: flex
  justify-content: space-between
  flex-direction: column
  min-height: 100vh

body
  font-family: FiraSans, sans-serif
  color: $dark

  &.covered:before
    content: ''
    position: fixed
    top: 0
    left: 0
    z-index: 2
    width: 100%
    height: 100%
    background-color: rgba($dark, .2)

.page-content
  padding: 30px 0
  flex: 1
  position: relative

.page-title
  font-size: 1.5rem
  font-weight: 700
  line-height: 1

.text-content
  color: $darkGrey

  a
    text-decoration: underline
    color: $darkGrey

    &:hover
      color: $blue

.user-lots-title
  @extend %vertical-align

  .title-icon
    margin-right: 28px

    svg
      width: 44px

  .title-text
    span
      color: $darkGrey
      line-height: 1

    p
      margin: 0
      font-size: 1.125rem
      font-weight: 700
      line-height: 1

.profile__user-info
  margin-bottom: 30px
  padding-bottom: 30px
  border-bottom: 1px solid $lightGrey

  div:not(.link-to__edit-page)
    position: static

.link-to__edit-page
  @extend %justify-end

  a
    color: $dark
    @extend %vertical-align
    perspective: 1000

    &:hover
      color: $dark
      text-decoration: none
      opacity: .75

      svg
        transform: rotate(90deg)

  svg
    width: 24px
    height: 24px
    @extend %transition025
    perspective: 1000

  span
    margin-left: 20px

.user-info__middle
  text-align: center

  div:nth-child(2)
    margin: 10px 0

.user__name
  font-size: 1.5rem
  font-weight: 700
  line-height: 1

.user__city, .user__phone
  color: $darkGrey
  line-height: 1

.no-lots-available
  @extend %vertical-align
  flex-direction: column
  padding: 60px 0

  svg
    max-width: 200px
    width: 90%

  .not-available__txt
    color: $darkGrey
    margin-top: 30px
    max-width: 270px
    text-align: center

.profile-edit-form
  .edit-form__header
    @extend %justify-between

    .form__item
      max-width: calc((100% - 20px) / 3)
      width: 100%

  .checkbox-item
    label
      font-size: 1rem

.notification__wrap
  position: fixed
  bottom: -300px
  left: 50%
  transform: translateX(-50%)
  background-color: $dark
  color: $white
  border-radius: 30px
  font-weight: 700
  padding: 20px 40px
  user-select: none
  transition: all .5s linear
  text-align: center

  &.shown
    bottom: 40px

@media screen and (max-width: 991px)
  .form__item
    margin-bottom: 16px

  input[type=text]:not(.choices__input), input[type=password]
    font-size: 1rem
    height: 54px

  .choices__inner
    height: 54px

  .profile-edit-form
    .edit-form__header
      flex-wrap: wrap
      margin-bottom: 20px

      .form__item
        max-width: 100%

    .checkbox-item
      label
        font-size: 1rem

@media screen and (max-width: 500px)
  .user-lots-title
    margin-bottom: 30px

  .page-title
    margin-bottom: 20px

  .user-info__middle
    margin-top: 30px

  .link-to__edit-page
    position: absolute
    top: 15px
    right: 15px

    span
      display: none

  .profile-edit-form
    .checkbox-item
      label
        font-size: .75rem

  .notification__wrap
    width: calc(100% - 30px)
    padding: 20px 30px