@import ../includes/variables
@import ../includes/extensions

header
  background-image: url(../img/header-bg.jpg)
  background-size: cover
  background-position: center


// Header Head
.header__head
  @extend %justify-between
  align-items: center
  padding: 10px 0

.header__right
  @extend %justify-between
  align-items: center
  position: relative


// Logo
.logo
  a
    @extend %vertical-align

#logo-icon
  margin-right: 6px


// Language Toggle Styles
.language__tgl, .language__links
  background-color: rgba($white, .1)
  border-radius: 6px
  position: relative
  padding: 2px
  @extend %justify-between

  &.language__tgl
    display: none

.language__txt
  color: $white
  cursor: pointer
  position: relative
  z-index: 1
  @extend %flex-centered
  padding: 10px 25px
  margin: 0
  width: calc(50% - 2px)
  font-size: .875rem
  line-height: 1
  user-select: none
  @extend %transition025
  text-decoration: none

  &:hover
    text-decoration: none
    color: $white

  &.active
    background-color: #fff
    border-radius: 4px
    color: $dark

// .active-lang__bg
//   position: absolute
//   top: 2px
//   height: calc(100% - 4px)
//   width: calc(50% - 2px)
//   background-color: $white
//   border-radius: 4px
//   @extend %transition025

// input[type=radio]:checked 
//   & + .language__txt
//     color: $dark

//   &.lang__ru ~ .active-lang__bg
//     left: 2px
  
//   &.lang__kg ~ .active-lang__bg
//     left: 50%


// Profile Links Styles
.user-profile__tgl
  @extend %justify-end
  align-items: center
  margin-left: 40px
  cursor: pointer

  &.opened
    .user-profile__txt
      svg
        transform: rotateX(180deg)
        margin-top: -2px

.user-profile__icon
  background-color: rgba($white, .1)
  border-radius: 36px
  width: 36px
  height: 36px
  @extend %flex-centered

  svg
    width: 20px

.user-profile__txt
  color: $white
  margin-left: 12px
  @extend %vertical-align

  svg
    width: 10px
    margin-left: 10px
    @extend %transition025

.user-profile__dropdown
  position: absolute
  right: 0
  top: -200%
  z-index: 2
  background-color: $white
  width: 100%
  border-radius: 10px
  padding: 40px
  opacity: 0
  visibility: hidden
  @extend %transition025

  &.on
    top: calc(100% + 20px)
    opacity: 1
    visibility: visible

  &.authorized
    padding: 0
    width: auto

    ul
      margin: 0
      padding: 0
      list-style: none

    li
      border-bottom: 1px solid $lightGrey

      &:last-child
        border: none

    a
      text-decoration: none
      display: block
      padding: 15px 30px 15px 15px
      color: $dark
      font-size: .875rem
      line-height: 1

  .dropdown-close
    position: absolute
    top: 8px
    right: 8px
    background-color: $lightGrey
    border-radius: 20px
    width: 32px
    height: 32px
    align-items: center
    justify-content: center
    display: none

    svg
      width: 10px
      height: 10px


  // Tab Styles
  .tab__header
    display: flex
    margin-bottom: 25px

  .tab__tgl
    margin-right: 20px
    font-size: 1.5rem
    font-weight: 700
    line-height: 1
    color: $grey
    position: relative
    cursor: pointer

    span
      position: relative
      z-index: 1

    &:after
      content: ''
      position: absolute
      left: 50%
      bottom: 0
      width: calc(100% + 4px)
      height: 8px
      background-color: $yellow
      transform: translate(-50%, 25%)
      display: none

    &:hover
      color: rgba($dark, .75)

    &.active
      color: $dark

      &:after
        display: block

  .tab__body
    .tab
      display: none

      &.active
        display: block


  // Form Item Cusotmization For Header
  .form__item
    margin-bottom: 1rem
    @extend %vertical-align
    justify-content: space-between

    input[type=text]:not(.choices__input), input[type=password], button[type=submit]
      height: 54px
      font-size: 1rem
      padding: 15px

      &[type=password]
        padding-right: 40px

    .choices__inner
      padding: 15px 30px 15px 15px !important
      height: 54px


// Form Elements Styles
.password-show
  position: absolute
  top: 50%
  right: 20px
  transform: translateY(-50%)
  cursor: pointer

  &.mousedown
    svg
      fill: $blue

  svg
    width: 16px
    fill: $dark

.pass-restore-tgl
  font-size: .75rem

  a
    color: $blue
    text-decoration: underline

.pass-restore
  display: none

.restore-title
  font-size: 1.5rem
  font-weight: 700
  line-height: 1
  color: $dark
  margin-bottom: 10px

.restore-description
  color: $darkGrey
  font-size: .875rem
  margin-bottom: 20px


// Header Body
.header__body
  padding: 60px 0
  @extend %justify-between
  align-items: center

.auction__title
  display: flex
  align-items: flex-start
  flex-direction: column

  span
    font-size: 1.25rem
    color: $grey
    line-height: 1

  h2
    font-size: 3rem
    color: $white
    line-height: 1
    position: relative
    display: inline-block
    min-height: 48px
    margin: 10px 0

    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      width: 27px
      height: 22px
      background-image: url(../img/yellow-strips.svg)
      background-size: contain
      background-repeat: no-repeat
      transform: translate(150%, -50%)

.countdown-timer
  @extend %vertical-align

.timer__text
  color: $grey
  font-size: 0.875rem
  margin-right: 20px

.auction-countdown
  display: flex

.timer-section
  margin: 0 5px

  &:first-child
    margin-left: 0
  
  &:last-child
    margin-right: 0

  div
    background-color: $white
    border-radius: 10px
    color: $dark
    @extend %flex-centered
    flex-direction: column-reverse
    width: 68px
    height: 68px
    box-shadow: 0 3px 0px 1px $black

.timer-amount
  font-size: 1.5rem
  font-weight: 700
  line-height: 1.2

.timer-word
  font-size: .875rem
  line-height: 1.2

@media screen and (max-width: 991px)
  .auction__title
    span
      font-size: 1rem

    h2
      font-size: 2.5rem
      min-height: 40px

  .timer__text
    color: $white
    font-size: 0.75rem
    max-width: 80px

  .timer-section
    div
      width: 60px
      height: 60px

  .timer-amount
    font-size: 1.25rem

  .timer-word
    font-size: .75rem

@media screen and (max-width: 500px)
  #logo-txt
    display: none

  .language__txt
    font-size: .75rem
    padding: 8px 18px

  .user-profile__tgl
    margin-left: 20px

    .user-profile__txt
      margin-left: 0
      
      span
        display: none

      svg
        margin-left: 5px

  .header__body
    flex-wrap: wrap
    padding: 30px 0

  .password-show
    right: 15px

  .auction__title
    margin-bottom: 30px

  .countdown-timer
    width: 100%
    justify-content: space-between

  .timer-section
    margin: 0 2px

  .user-profile__dropdown
    position: fixed
    top: -20%
    right: 15px
    width: calc(100% - 30px)
    padding: 0
    transform: translateY(-50%)

    &.on
      top: 50%

    &.authorized
      position: absolute
      right: 0
      top: -100%
      transform: none

      &.on
        top: 45px

  .dropdown-wrap
    position: relative
    padding: 60px 20px 20px

    .dropdown-close
      display: flex

@media screen and (max-width: 360px)
  .user-profile__tgl
    margin-left: 10px

  .countdown-timer
    flex-wrap: wrap

    .timer__text
      max-width: 100%
      margin-bottom: 10px

  .user-profile__dropdown
    .form__item
      input[type=text]:not(.choices__input), input[type=password], button[type=submit]
        height: 44px

      .choices__inner
        height: 44px